# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Horses Game.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Slava\Desktop\Horses Task Git\Horses-Game-Task\Horses Game\.idea\.idea.Horses Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
